<!--继承base-->
{% extends "article/base.html" %}
<!--加载静态文件-->
{% load static %}
<!--写入base中定义的title-->
{% block title %} 写文章 {% endblock title %}
<!--写入base定义的content-->
{% block content %}
<!--文章表单-->
<div class="container">
    <div class="row">
        <div class="col-12">
<!--            提交文章的表单-->
            <form method="post" action=".">
<!--                django中需要post数据中的地方都必须要有csrf_token-->
                {% csrf_token %}
<!--                文章标题-->
                <div class="form-group">
<!--                    标签-->
                    <label for="title">文章标题</label>
<!--                    文本框-->
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="column">栏目</label>
                    <select class="form-control"
                            id="column"
                            name="column"
                    >
                            <option value="none">请选择栏目..</option>
                        {% for column in columns %}
                            <option value="{{ column.id }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="tags">标签</label>
                    <input type="text"
                           class="form-control col-3"
                           id="tags"
                           name="tags"
                    >
                </div>
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <textarea type="text" class="form-control" id="body" name="body" rows="12"></textarea>
                </div>
<!--                提交按钮-->
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
